.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.majority{
  width:100%;
  display:flex;
  justify-content: center;
}

.sidebar{
  display:flex;
  flex-direction: column;
  align-items: start;
  width: 15%;
  height: 100vh;
  border-right: 1px solid black;
}


@media screen and (max-width: 800px){
  .sidebar{
    width: 40%;
  }
}

.sidebar a{
  padding-left: 10px;
}

.sidebar a:visited:hover{
  color: orange;
  cursor: pointer;
}

.sidebar a:visited{
  color:black;
}